
services:
  web2:
    build:
      context: .
      dockerfile: Dockerfile_compose
    expose:
      - 8080
    networks:
      - nginx_network
      - db_network
    depends_on:
      - db2
  db2:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: "plantwatch"
      POSTGRES_PASSWORD: "PASSWORD"
      PGPORT: 8015
      POSTGRES_INITDB_ARGS: '--encoding=UTF-8 --lc-collate=C --lc-ctype=C'
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    hostname: db2
    ports:
      - "8015:8015"
    networks:
      - db_network
  nginx2:
    image: nginx:alpine
    ports:
      - 8000:80
    depends_on:
      - web2
    volumes:
      - ./plantwatch_nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - nginx_network

networks:
  nginx_network:
    driver: bridge
  db_network:
    driver: bridge
