.aspace {
    width: 1em;
    height: 1em;
    display:inline-block;
}

.hspace {
    display:block;
    height: 5em;
}

ul, li {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

#menu ul{
  list-style: none;
}
#menu li{
  display: inline;
}

body {
    padding-left: 1em;
    width: 99%;
}