{% if elist %}

    {% load filters %}

    <table class="table table-bordered table-hover table-striped table-sm">
    {% for header in elist.0 %}
        <th>{{ header }}</th>
    {% endfor %}
    {% for row in elist.1 %}
        <tr>
        {% for e in row %}
            <td> {{ e |myround:2}} </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% else %}
<table class="table table-bordered table-hover table-striped table-sm">
    <tbody>
        <tr class="table">
            <th>Stromproduktion</th>
        </tr>
        <tr>
            <th>Keine Daten vorhaden.</th>
        </tr>
    </tbody> 
{% endif %}
