<form action="." method="post" id="form1">
    <div id="accordion">

        {% csrf_token %}
            {% for field in form %}
                <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter0 }}">
                        <h5 class="mb-0">
                            <button type=button class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
                                {{ field.label }}
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{ forloop.counter0 }}" class="collapse" aria-labelledby="heading{{ forloop.counter0 }}" data-parent="#accordion">
                        <div class="card-body">
                            {{ field }}
                        </div>
                    </div>
                </div>
            {% endfor %}
    <div  style="margin-right: 1em; margin-left: 1em; margin-bottom: 3em; width: 98%;" id="slider1"></div>
    <div  style="margin-right: 1em; margin-left: 1em; margin-top: 3em; width: 98%;" id="slider2"></div>
    <span class="hspace" style="display:block; height: 5em;"></span>
    </div>
    <input type="submit" class="btn btn-success" value="ändere Anfrage" >
</form>
