<table class="table table-bordered table-hover table-striped table-sm">
    <tr>
        {% for h in header %}
            <th id="plant{{ forloop.counter0 }}">{{ h }}</th>
        {% endfor %}
    </tr>

    {% for plant in list %}
    {% if plant.energysource == "Steinkohle" %}
        <tr class="table table-danger">
        {% elif plant.energysource == "Braunkohle" %}
            <tr class="table table-warning">
        {% elif plant.energysource == "Erdgas" %}
        <tr class="table table-success">
        {% elif plant.energysource == "Mineralölprodukte" %}
            <tr class="table table-secondary">
        {% elif plant.energysource == "Kernenergie" %}
            <tr class="table table-info">
        {% else %}
            <tr class="table">
        {% endif %}
        <td><a class="btn btn-outline-secondary" href="{% url 'plant' plant.plantid %}">{{ plant.plantid }} </a></td>
            <td> {{ plant.plantname }}</td> <td> {{ plant.company }}</td>
            <td> {{ plant.initialop }}</td> <td> {{ plant.latestexpanded }}</td>
            <td> {{ plant.state }}</td> <td> {{ plant.federalstate }}</td>
            <td> {{ plant.totalpower |floatformat:1 }}</td> <td> {{ plant.energy |floatformat:2 }}</td> <td> {{ plant.co2 |floatformat:2 }}</td>
            <td> {{ plant.workload |floatformat:2 }}</td> <td> {{ plant.eff |floatformat:2}}</td>
            </tr>
        {% endfor %}
</table>
