{% if pollutants_dict %}

    {% load filters %}

    <table class="table table-bordered table-hover table-striped table-sm">
       {% for header in pol_header_list %}
            <th> {{ header }}</th>
        {% endfor %}
                    
        {% for block, block_rows in pollutants_dict.items %}
            <tr class="table">
            <th>{{ block.1 }} </th>
            {% for column in block_rows %}
                <td> {{ column |myround:3  }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
