{% extends "plantmaster/base.html" %}

{% block head %}
<link href="//cdn.bootcss.com/noUiSlider/10.0.0/nouislider.min.css" rel="stylesheet">
<link href="../../plantmaster/static/plantmaster/style.css" rel="stylesheet">
<script src="//cdn.bootcss.com/noUiSlider/10.0.0/nouislider.js"></script>
{% endblock %}

{% block content %}
    <form action="." method="post" id="form1">
    <div id="accordion">

        {% csrf_token %}
            {% for field in form %}
                <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter0 }}">
                        <h5 class="mb-0">
                            <button type=button class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
                                {{ field.label }}
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{ forloop.counter0 }}" class="collapse" aria-labelledby="heading{{ forloop.counter0 }}" data-parent="#accordion">
                        <div class="card-body">
                            {{ field }}
                        </div>
                    </div>
                </div>
            {% endfor %}
    <div id="slider1"></div>
    <span class="hspace"></span>
    </div>
    <input type="submit" class="btn btn-success" value="ändere Anfrage">
    </form>




    {% if sources_dict %}
        <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
    {% for header1 in sources_header %}
    <th> {{ header1 }}</th>
    {% endfor %}
    </tr>
        </thead>
            {% for key, value_list in sources_dict.items %}

                {% if key == "Steinkohle" %}
        <tr class="table table-danger">
        {% elif key == "Braunkohle" %}
            <tr class="table table-warning">
        {% elif key == "Erdgas" %}
        <tr class="table table-success">
        {% elif key == "Kernenergie" %}
            <tr class="table table-secondary">
                {% else %}
                <tr>
                {% endif %}
                    <th> {{ key}} </th>
                    {% for value in value_list %}
                    <td> {{ value}} </td>
                        {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% if block_dict %}

<table class="table table-bordered table-hover table-striped table-sm">
    <tr>
        {% for header in header_list %}
            <th> {{ header }}</th>
        {% endfor %}
    </tr>

    {% for key, block_list in block_dict.items %}
        {% if key.0 == "Steinkohle" %}
        <tr class="table table-danger">
        {% elif key.0 == "Braunkohle" %}
            <tr class="table table-warning">
        {% elif key.0 == "Erdgas" %}
        <tr class="table table-success">
        {% elif key.0 == "Kernenergie" %}
            <tr class="table table-secondary">
        {% endif %}
        {% if not key.2 %} {# blocks, don't show link to plant, if it does not exist #}
            <td> </td>
        {% else %}
            <td><a class="btn btn-outline-secondary" href="{% url 'plant' key.2 %}">{{ key.2 }} </a></td>
        {% endif %}
        {% if key.1 == key.2 %} {# key1 equals key2, so we are in plants: don't show link to block, as it would not make sense #}
        {% else %}
            <th><a class="btn btn-outline-secondary" href="{% url 'block' key.1 %}">{{ key.1 }} </a></th>
        {% endif %}

    {% for value in block_list %}
        <td> {{ value}} </td>
    {% endfor %}
        </tr>
    {% endfor %}
</table>
{% else %}
    <p>Keine Blöcke gefunden.</p>
{% endif %}
{% endblock %}


{% block js %}
function getSlider(){
    let values = slider1.noUiSlider.get();
    let low = Math.round(values[0]);
    let up = Math.round(values[1]);
    return low + ";" + up;
}

console.log(document.getElementById('slider1'));
let slider1 = document.getElementById('slider1');
noUiSlider.create(slider1, {
    start: [{{ lower }}, {{ upper }}], // Handle start position
    step: 5, // Slider moves in increments of '10'
    margin: 5, // Handles must be more than '20' apart
    connect: true, // Display a colored bar between the handles
    orientation: 'horizontal', // Orient the slider vertically
    //behaviour: 'tap-drag', // Move handle on tap, bar is draggable
    range: { // Slider can select '0' to '100'
        'min': 1950,
        'max': 2020
    },
    pips: { // Show a scale with the slider
        mode: 'steps',
        density: 10
    }
});

slider1.noUiSlider.on('change', function(handle ) {
        if ( handle ) {
            console.log("now in handling uislider");
            let lowup = getSlider();
            console.log(lowup);
    document.getElementById("id_slider1").value = lowup;
    }
    });
{% endblock %}

