{% extends "plantmaster/base.html" %}
{%  load static %}

{% block head %}
<link href="//cdn.bootcss.com/noUiSlider/10.0.0/nouislider.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/noUiSlider/10.0.0/nouislider.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'plantmaster/style.css' %}" />

{% endblock %}


{% block content %}
<div id="slider"></div>
<span class="hspace"></span>
<div>
    <span id="gascolor" class="aspace"></span>
<input name="energysource" title="gas" class="gas" id="gas" type="checkbox" {{ checked.0 }}> Gas
    </div>
<div>

    <span id="coalcolor" class="aspace"></span>
<input name="energysource" title="coal" class="coal" id="coal" type="checkbox" {{ checked.1 }}> Steinkohle
        </div>
<div>

    <span id="lignitecolor" class="aspace"></span>
<input name="energysource" title="coal" class="lignite" id="lignite" type="checkbox" {{ checked.2 }}> Braunkohle
</div>

{% if block_list %}

{% if power %}
    <p> Gesamtleistung: {{ power | floatformat:2}} MW </p>
    <p> Anzahl Kraftwerke: {{ count }} </p>
{% endif %}
<table class="table">
    <tr>
    {% for header in header_list %}
    <th> {{ header }}</th>
    {% endfor %}
    </tr>

    {% for block in block_list %}
        {% if block.energysource == "Steinkohle" %}
        <tr class="table table-danger">
        {% elif block.energysource == "Braunkohle" %}
            <tr class="table table-warning">
        {% elif block.energysource == "Erdgas" %}
        <tr class="table table-success">
        {%  else %}
        <tr class="table table-active">
        {% endif %}
        <td><a href="{% url 'block' block.blockid %}">{{ block.blockid }} </a></td>
        <td> {{ block.blockname }} </td>
        <td> {{ block.initialop }} </td>
        <td> {{ block.state }} </td>
        <td> {{ block.netpower }} </td>
        </tr>
    {% endfor %}

</table>
{% else %}
    <p>Keine Kraftwerke gefunden.</p>
{% endif %}
{% endblock %}


{% block js %}
let checkedBoxes = document.querySelectorAll('input[name=energysource]');
let g = $("#gas");
let c = $("#coal");
let l = $("#lignite");

function getBoxes() {
    checkedBoxes = document.querySelectorAll('input[name=energysource]');
    console.log("codegeneration");
    let code = 0; // catch case if user set every checkbox to zero
    let lookup = {gas: 1, coal: 2, lignite: 6};
    for (let elem of checkedBoxes) {
        let checked = elem.checked;
        if (checked) {
            code += lookup[elem.id];
        }
    }
    console.log(code);
    if (code === 0) {
        code = 9;
    }
    return code;
}

function handleBoxes() {
    let url = getUrl();
    window.location.href = url;
}

g.change(function() {
    handleBoxes();
});

c.change(function() {
    handleBoxes();
});

l.change(function() {
    handleBoxes();
});

function getSlider(){
    let values = slider.noUiSlider.get();
    let low = Math.round(values[0]);
    let up = Math.round(values[1]);
    return low + "-" + up;
}

function getUrl() {
    let base = window.location.href;
    let base_l = base.split("/");

    let url = "";
    base_l.pop();
    let parent = base_l.pop();
    console.log(base_l);
    if (parent === "blocks") {
        url += "./"
    } else if (parent === "plantmaster") {
        url += "blocks"
    } else {
        url += "../"
    }

    url += getSlider();
    url += "-" + getBoxes();
    console.log(url);
    return url;
}

console.log(document.getElementById('slider'));
let range = document.getElementById('slider');
noUiSlider.create(range, {
    start: [{{ lower }}, {{ upper }}], // Handle start position
    step: 5, // Slider moves in increments of '10'
    margin: 5, // Handles must be more than '20' apart
    connect: true, // Display a colored bar between the handles
    orientation: 'horizontal', // Orient the slider vertically
    //behaviour: 'tap-drag', // Move handle on tap, bar is draggable
    range: { // Slider can select '0' to '100'
        'min': 1960,
        'max': 2020
    },
    pips: { // Show a scale with the slider
        mode: 'steps',
        density: 10
    }
});

range.noUiSlider.on('change', function(handle ) {
        if ( handle ) {
            console.log("now in handling uislider");
            let url = getUrl();
            console.log(url);
            window.location.href = url;
        }
    });
{% endblock %}

