{% extends "plantmaster/base.html" %}
{% block content %}

{% if data_list %}
<table class="table table-bordered table-hover table-striped table-sm">
    {% for key, value in data_list %}
    <tr>
        <th> {{ key}} </th>
        <td> {{ value}} </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>Keine Daten vorhanden.</p>
{% endif %}
<button type="button" onclick="window.history.back()" class="btn btn-primary" style="display:inline-block; margin-right:10px;">Zurück</button>

{% if error %}
    <button class="button btn btn-disabled" disabled>Kraftwerk</button>
{% else %}
    <a class="button btn btn-primary" href="{% url 'plant' plant_id %}">Kraftwerk</a>
{% endif %}

<div id="chart"></div>
<div id="chart2"></div>

{% endblock %}

{% block js %}
var chart = c3.generate({
    bindto: '#chart',
    data: {
        x: 'x',
        columns:         {{ powers |safe }}
    }
});

var chart2 = c3.generate({
    bindto: '#chart2',
    data: {
      columns: [
        ['data1', 30, 200, 100, 400, 150, 250],
        ['data2', 50, 20, 10, 40, 15, 25]
      ]
    }
});
{% endblock %}