{% extends "plantmaster/base.html" %}
{%  load static %}

{% block head %}
<link href="//cdn.bootcss.com/noUiSlider/10.0.0/nouislider.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/noUiSlider/10.0.0/nouislider.js"></script>
{% endblock %}

{% block content %}
    <form action="." method="post" id="form1">
        {% csrf_token %}
        {{ form.simple_radiobox }}
        {{ form.simple_checkbox }}
        {{ form.power_checkbox }}
    <input type="submit" value="ändere Anfrage">
    </form>
<div id="slider"></div>
<span class="hspace"></span>

    {% if sources_dict %}
        <table class="table table-striped">
        <tr>
    {% for header1 in sources_header %}
    <th> {{ header1 }}</th>
    {% endfor %}
    </tr>
            {% for key, value_list in sources_dict.items %}
                <tr>
                    <td> {{ key}} </td>
                    {% for value in value_list %}
                    <td> {{ value}} </td>
                        {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% if block_list %}

<table class="table">
    <tr>
    {% for header in header_list %}
    <th> {{ header }}</th>
    {% endfor %}
    </tr>

    {% for block in block_list %}
        {% if block.energysource == "Steinkohle" %}
        <tr class="table table-danger">
        {% elif block.energysource == "Braunkohle" %}
            <tr class="table table-warning">
        {% elif block.energysource == "Erdgas" %}
        <tr class="table table-success">
        {% elif block.energysource == "Kernenergie" %}
            <tr class="table table-secondary">
        {%  else %}
        <tr class="table table-active">
        {% endif %}
        <td><a href="{% url 'block' block.blockid %}">{{ block.blockid }} </a></td>
        <td> {{ block.blockname }} </td>
        <td> {{ block.initialop }} </td>
        <td> {{ block.state }} </td>
        <td> {{ block.federalstate }}</td>
        <td> {{ block.netpower }} </td>
        </tr>
    {% endfor %}

</table>
{% else %}
    <p>Keine Kraftwerke gefunden.</p>
{% endif %}
{% endblock %}


{% block js %}
let checkedBoxes = document.querySelectorAll('input[name=energysource]');
let g = $("#gas");
let c = $("#coal");
let l = $("#lignite");

function getSlider(){
    let values = slider.noUiSlider.get();
    let low = Math.round(values[0]);
    let up = Math.round(values[1]);
    return low + "-" + up;
}

function getUrl() {
    let base = window.location.href;
    let base_l = base.split("/");

    let url = "";
    base_l.pop();
    let parent = base_l.pop();
    //console.log(base_l);
    //console.log("parent");
    //console.log(parent);
    //console.log(window.document.location.hostname);
    if (parent === "blocks") {
        url += "./"
    } else if (parent === "plantmaster") {
        url += "blocks/"
    } else if (parent.includes(window.document.location.hostname)) {
        url += "plantmaster/blocks/"
    } else {
        url += "../"
        //url += "plantmaster/blocks/"
    }

    url += getSlider();
    console.log(url);
    return url;
}

console.log(document.getElementById('slider'));
let range = document.getElementById('slider');
noUiSlider.create(range, {
    start: [{{ lower }}, {{ upper }}], // Handle start position
    step: 5, // Slider moves in increments of '10'
    margin: 5, // Handles must be more than '20' apart
    connect: true, // Display a colored bar between the handles
    orientation: 'horizontal', // Orient the slider vertically
    //behaviour: 'tap-drag', // Move handle on tap, bar is draggable
    range: { // Slider can select '0' to '100'
        'min': 1960,
        'max': 2020
    },
    pips: { // Show a scale with the slider
        mode: 'steps',
        density: 10
    }
});

range.noUiSlider.on('change', function(handle ) {
        if ( handle ) {
            console.log("now in handling uislider");
            let url = getUrl();
            console.log(url);
            window.location.href = url;
        }
    });
{% endblock %}

