{% extends "plantmaster/base.html" %}
{% block content %}

{% if data_list %}
<table class="table table-striped">
    {% for key, value in data_list %}
    <tr>
        <th> {{ key}} </th>
        <td> {{ value}} </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>No data.</p>
{% endif %}
<button type="button" onclick="window.history.back()" class="btn" style="display:inline-block; margin-right:10px;">Zurück</button>
<button type="button" class="btn" style="display:inline-block;" disabled>Kraftwerk</button>
{% endblock %}
