{% extends "plantmaster/base.html" %}
{% block content %}

{% if data_list %}
<table class="table table-striped">
    {% for key, value in data_list %}
    <tr>
        <th> {{ key}} </th>
        <td> {{ value}} </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>Keine Daten vorhanden.</p>
{% endif %}
<button type="button" onclick="window.history.back()" class="btn btn-primary" style="display:inline-block; margin-right:10px;">Zurück</button>

{% if error %}
    <button class="button btn btn-disabled" disabled>Kraftwerk</button>
{% else %}
    <a class="button btn btn-primary" href="{% url 'plant' plant_id %}">Kraftwerk</a>
{% endif %}

{% endblock %}
