{% extends "plantmaster/base.html" %}
{% block content %}

{% load static %}

<div>
    <h2>Berechnungsgrundlagen</h2>
    <p>
        Umsatz und insbesondere der Profit der Kraftwerke wurden anhand öffentlicher Daten errechnet und sind als Schätzwerte zu betrachten.<br>
        Für den Umsatz wurden die stundengenauen Strompreise mit den stundengenauen Stromproduktionsdaten der Kraftwerke multipliziert.<br>
        Für die Berechnung des Profits (Umsatz - Kosten) mussten weitere Werte angenommen werden; diese sind:<br>
        Der Preis pro Tonne CO2 mit <a href="https://energy.instrat.pl/en/prices/eu-ets/"><del>70€ (Jahr 2023)</del><a href="https://icapcarbonaction.com/en/ets/eu-emissions-trading-system-eu-ets">65€ (Jahr 2024)</a> pro Tonne</a>,<br>
        den Brennstoffpreis (40€ für Erdgas, 120€ für Steinkohle, <a href="https://green-planet-energy.de/blog/energiewende/kohleausstieg/subventionen-fuer-kohlekonzerne/">18€ für Braunkohle</a>),<br>
        den Emissionsfaktor der Brennstoffe <a href="https://www.bund-nrw.de/braunkohle/hintergruende-und-publikationen/braunkohlenkraftwerke-contra-klimaschutz/">(1,5 für Erdgas, 2,68 für Steinkohle, 3,25 für Braunkohle)</a> jeweils pro Tonne.<br>
        Im Umsatz konnten keine weiteren Umsatzquellen (wie etwa Fernwärme oder Prozessdampf) berücksichtigt werden.<br>
        Im Profit konnten keine Personalkosten berücksichtigt werden.
    </p>
    <p>
        Umsatz und Profit beziehen sich auf das Jahr 2024.
    </p>

    
</div>

{% endblock %}