{% extends "plantmaster/base.html" %}
{% block content %}

    <div>
    <h1>Nur saubere Energie ist plantwatch</h1>
    <h2>Compliance bei plantwatch</h2>
    <h3>Werte</h3>
    <p> plantwatch steht für Transparenz. Wir tolerieren keine Korruption, Kartelle oder anderweitige Verstöße gegen geltendes Recht. </p>
    <p>Aus diesem Grund können Sie sich bei mutmaßlichen Verstößen gegen geltendes Recht an unseren Compliance-Beauftragten wenden.</p>

    <h3>Compliance-Beauftragter</h3>
    <p>
        Simon Dietz<br />
        Postfach 11 32<br />
        91502 Ansbach
    </p>

    <h3>Kontakt</h3>
    <p>Telefon: 09827/7090746<br />
    Telefax: 09827/9279683<br />
    E-Mail: <a href="mailto:dietzi96@plantwatch.de?Subject=Hinweis" target="_top">dietzi96@plantwatch.de</a><br />
    </p>

    <h2>Hinweisgebersystem</h2>
    <h3>Intern</h3>
    <p>
        Aufgrund unserer geringen Größe können wir Ihnen leider kein Hinweisgebersystem anbieten.<br>
        Einen PGP Key für verschlüsselte Kommunikation werden wir zeitnahe bereitstellen.
    </p>

    <h3>Extern</h3>
    <p>
        Hier finden Sie die Hinweisgebersysteme diverser Unternehmen des Energiesektors (sofern vorhanden).
    </p>
    <h4>Hersteller von Kraftwerksausrüstung</h4>
    <p> <a href="https://www.ge.com/security">GE Compliance</a></p>
    <p> <a href="https://www.bkms-system.net/bkwebanon/report/clientInfo?cin=19siem14">Siemens Compliance</a></p>
    
    <h4>Kraftwerksbetreiber</h4>
    <p> <a href="https://secure.ethicspoint.eu/domain/media/de/gui/49157/index.html">BASF Compliance</a></p>
    <p> <a href="https://www.enbw.com/unternehmen/konzern/ueber-uns/compliance/compliance/">EnBW Compliance</a></p>
    <p> <a href="https://eon-wb.compliancesolutions.com/">Eon Compliance</a></p>
    <p> <a href="https://fachanwaelte-strafrecht-potsdamer-platz.de/de/schwerpunkte/ombudsmann-vertrauensanwalt/ombudsmann-vertrauensanwalt-unternehmen-organisationen/leag-lausitzer-energie-ag">LEAG Compliance</a></p>
    <p> <a href="https://www.rheinenergie.com/de/unternehmen/unternehmen__/verantwortung/compliance/compliance.html">RheinEnergie Compliance</a></p>
    <p> <a href="https://www.rwe.com/der-konzern/compliance">RWE Compliance</a></p>
    <p> <a href="https://www.swm.de/compliance">SWM Compliance</a></p>
    <p> <a href="https://www.uniper.energy/de/ueber-uniper/einhaltung">Uniper Compliance</a></p>
    <p> <a href="https://report.whistleb.com/de/vattenfall">Vattenfall Compliance</a></p>
    <p> <a href="https://www.bkms-system.com/bkwebanon/report/clientInfo?cin=22vwgroup16">VW Compliance</a></p>


    </div>

<p>Diese nicht abschließende Liste mit Stand 2022 erhebt keinen Anspruch auf Vollständigkeit.<br></p>

{% endblock %}

