{% extends "plantmaster/base.html" %}
{% block content %}

<div>
    <h2>Feinde der #NiemehrRWE</h2>

    <h1>Verfassungsfeinde</h1>
    <h4><b>AfD, NAZIS, und deren Freunde</b></h4>

    <h2>Verräter</h2>
    <h3>Grüne BW, wegen Stuttgart21</h3>
    <h3>Grüne Hessen, wegen des Dannenröder Forstes</h3>
    <h3>Grüne NRW,</h3>
    <h2>Die OSTKURVE, SPD Brandenburg, wegen<br>
        <p>der <b>PCK Schwedt</b></p>
    </h2>

    <h1>FÜR JEDEN einzelnen BAUM, der WEGEN, FICK' DICH</h1>
    <h2>Dr. KREBBER, CEO of NRWE Power AG</h2>
    <h3>vernichtet worden war.</h3>

<p>Datum der Feststellung der Feinde:<br>
Valentinstag 2024</p>

{% endblock %}