{% extends "plantmaster/base.html" %}
{% block content %}

{% load static %}

<div>
    <h2>Freunde der #NiemehrRWE</h2>

    <h1>Fridays for Future</h1>
    <h2>Aufstand LastGen / Letzte Generation</h2>
    <h2>Ende Gelände</h2>
    
<p>Information für die Genannten:<br>
Das Datum der HV (Hauptversammlung) des Hauptfeindes, RWE (Power AG) liegt im MÄRZ!<br>
Siehe hierzu den  <a href="https://www.rwe.com/investor-relations/finanzkalender-und-veroeffentlichungen/?startDate=30.01.2024&endDate=28.07.2024">Finanzkalender</a></p>

<div>
    <h2>Disclaimer</h2>
    <h3>plantwatch.de distanziert sich von - nach Ansicht des Verfassers zwar legalen - jedoch unangemeldeten Protestaktionen,<br>
    die jedoch - analog zu den Bauernprotesten - als mit eben jenen vergleichbar anzusehen sind.    
    </h3>

    <h2>So es die StA Neuruppin sieht, ist der Verfasser somit als Sympathisant einer sog. Umweltmafia einzustufen.</h2>
    <p>Datum des Disclaimers: 01.03.2024</p>
</div>

{% endblock %}