{% extends "plantmaster/base.html" %}
{% block content %}

{% load static %}

<div>
    <h2>Freunde der #NiemehrRWE</h2>

    <h2>Fridays for Future</h2>
    <h3>Aufstand LastGen / Letzte Generation</h3>
    <h3><del>Ende Gelände</del></h3>
    
<p>Information für Freund:innen der #NiemehrRWE:<br>
Das Datum der HV (Hauptversammlung) des Hauptfeindes, RWE (Power AG) liegt im Mai!<br>
Siehe hierzu den  <a href="https://www.rwe.com/investor-relations/finanzkalender-und-veroeffentlichungen/?startDate=30.01.2024&endDate=28.07.2024">Finanzkalender:</a></p>
<img src="{% static '/RWE_HV.png' %}" alt="RWE HV">

<div>
    <h2>Disclaimer</h2>
    <h3>plantwatch.de distanziert sich von - nach Ansicht des Verfassers zwar legalen - jedoch unangemeldeten Protestaktionen,<br>
    die jedoch - analog zu den Bauernprotesten - als mit eben jenen vergleichbar anzusehen sind.    
    </h3>

    <p>Datum des Disclaimers: 11.03.2024,<br> 13. Jahrestag des INES-7 Unfalls des AKW Fukushima Daiichi.</p>
    <p>Update des Disclaimers mit Stand 27.09.2024: Aufgrund der Einstufung von Ende Gelände als linksextremistischer Verdachtsfall ist Ende Gelände von der Liste der Freunde gestrichen worden.</p>
</div>

{% endblock %}