{% extends "plantmaster/base.html" %}
{% block content %}

    <div>
    Impressum:<br>
    oberam systems junior UG <br>
    Pflichtangabgen: <br>
    HRB Nummer: noch nicht registriert <br>
    USt-ID: noch nicht vorhanden, nicht zum Umsatzsteuervorabzug berechtigt.<br>
    Sitz: noch nicht festgelegt.<br>
        <a href="mailto:plantwatch@oberamsystems.com?Subject=Frage/Anregung%20zu%20plantwatch" target="_top">plantwatch@oberamsystems.com</a><br>
    Quelle: Kraftwerksliste der Bundesnetzagentur <br>
    Lizenz (Quellcode): AGPL 3.0 <br>
    Lizenz (Daten Kraftwerksliste): Datenlizenz Deutschland – Namensnennung – Version 2.0 <br>
    Für weitere Informationen besuchen Sie die <a href="https://github.com/oberam-eng/plantwatch">Projektwebsite</a>. <br>
    Warnung, diese Website befindet sich im Beta Stadium. Insbesondere die Daten der Kraftwerksblöcke und der Kraftwerke sind noch nicht vollständig konsistent. <br>
    Ein Kraftwerk besteht aus einem oder mehreren Kraftwerksblöcken und ein Kraftwerksblock gehört zu genau einem Kraftwerk. <br>
    Die Kraftwerksblöcke sind der Kraftwerksliste der Bundesnetzagentur entnommen, die Kraftwerke den Veröffentlichungen im Rahmen von PRTR und wurden von mir nach bestem Wissen und Gewissen zugeordnet. <br>
    PRTR umfasst nicht alle Kraftwerke, daher liefert die Ansicht Blöcke geringfügig präzisere Ergebnisse. <br>
    Sollten Sie anderweitige Inkonsistenzen, vermutlich inkorrekte Zuordnungen von Kraftwerksblöcken zu Kraftwerken oder Anderes finden, oder möchten Sie Lob oder Kritik äußern, so schreiben Sie bitte an die oben genannte Mailadresse.
    </div>

{% endblock %}
