{% extends "plantmaster/base.html" %}
{% block content %}

    <div>
    <h1>Impressum</h1>
    <h2>Betreiber der Webseite</h2>
    <p> <a href="https://twitter.com/dietzi96">dietzi96</a>, bürgerlich: Simon Dietz<br /></p>

    <h2>Angaben gemäß §5 TMG</h2>
    <p>
        Simon Dietz<br />
        Postfach 11 32<br />
        91502 Ansbach
    </p>
    <p>
        Ladungsfähige Anschrift auf Anfrage
    </p>

    <h2>Kontakt</h2>
    <p>Telefon: 09827/7090746<br />
    Telefax: 09827/9279683<br />
    E-Mail: <a href="mailto:dietzi96@plantwatch.de?Subject=Frage/Anregung%20zu%20plantwatch" target="_top">dietzi96@plantwatch.de</a><br />
    Twitter (plantwatch): <a href="https://twitter.com/plantwatch_de">@plantwatch_de</a><br />
    Twitter (dietzi96): <a href="https://twitter.com/dietzi96">@dietzi96</a><br />
    </p>

    <h2>Datenschutzerklärung</h2>
    <p>
        Diese Webseite verwendet keine Cookies. <br />
        Diese Webseite verarbeitet keine personenbezogenen Daten. <br />
        Sofern Ihnen die integrierte Google Maps Karte nicht zusagt, steht es Ihnen frei diese etwa per <a href="https://addons.mozilla.org/de/firefox/addon/ublock-origin/">uBlock Origin</a> zu deaktivieren.
    </p>

    <h2>Hinweise zur Herkunft der Daten</h2>
    <p>
        Quelle: Kraftwerksliste & SMARD der Bundesnetzagentur, PRTR Daten der EU<br>
        Lizenz (Quellcode): AGPL 3.0 <br>
        Lizenz (Daten Kraftwerksliste): Datenlizenz Deutschland – Namensnennung – Version 2.0 <br>
        Für weitere Informationen besuchen Sie die <a href="https://github.com/sidietz/plantwatch">Projektwebsite</a>. <br>
        Warnung, diese Website befindet sich im Beta Stadium. Insbesondere die Daten der Kraftwerksblöcke und der Kraftwerke sind noch nicht vollständig konsistent. <br>
        Ein Kraftwerk besteht aus einem oder mehreren Kraftwerksblöcken und ein Kraftwerksblock gehört zu genau einem Kraftwerk. <br>
        Die Kraftwerksblöcke sind der Kraftwerksliste der Bundesnetzagentur entnommen, die Kraftwerke den Veröffentlichungen im Rahmen von PRTR und wurden von mir nach bestem Wissen und Gewissen zugeordnet. <br>
        PRTR umfasst nicht alle Kraftwerke, daher liefert die Ansicht Blöcke geringfügig präzisere Ergebnisse. <br>
        Sollten Sie anderweitige Inkonsistenzen, vermutlich inkorrekte Zuordnungen von Kraftwerksblöcken zu Kraftwerken oder Anderes finden, oder möchten Sie Lob oder Kritik äußern, so schreiben Sie bitte an die oben genannte Mailadresse.
    </p>

    <h2>Nutzungshinweis für Nutzer:innen des Internet Explorers</h2>
    <p>
        <a href="https://docs.microsoft.com/de-de/lifecycle/announcements/internet-explorer-11-end-of-support">Der Support für den Internet Explorer wurde eingestellt.</a> Diese Webseite funktioniert am besten mit <a href="https://www.mozilla.org/de/firefox/new/">Firefox.</a>
    </p>

    <h2>Hinweise zu Hyperlinks</h2>
    <p>
        Die Links wurden am 07/04/2022 mit größter Sorgfalt kontrolliert. Dennoch kann auf die Korrektheit der Links und die Angemessenheit der verlinkten Inhalte keine Gewähr gegeben werden.
    </p>

    </div>

{% endblock %}

