{% extends "plantmaster/base.html" %}
{% block content %}

<div>
    <h1>#NiemehrRWE - Kollektiv oder Schlachtruf?</h1>
    <h4>Zu #NiemehrRWE</h4>
    <p>
        #NiemehrRWE kann sowohl als 1-Person Kollektiv als auch als Schlachtruf gesehen werden. Es richtet sich sowohl gegen die RWE als auch die Initiative <a href="https://rwe-enteignen.de/">RWE & Co. enteignen</a>. <br>
        Nach unserer Ansicht hat ein derart klimaschädliches Unternehmen wie die RWE keinerlei Existenzberechtigung; entsprechend sollte das Ziel die Insolvenz der RWE sein, nicht deren Verstaatlichung.
    </p>

{% endblock %}