{% extends "plantmaster/base.html" %}
{% load static %}

{% block content %}

<div style="display: flex;">
    {% include "plant.html" with data_list=data_list %}
    {% include "plant.html" with data_list=data_list2 %}
</div>

<div>
    <span style="float: left"><a class="button btn btn-primary" href="{% url 'plants' %}">Kraftwerke</a></span>
    <span style="float: right"><a class="button btn btn-primary" href="{% url 'plant2' plant_id %}">Kraftwerksauslastung</a></span>
    <span style="float: center"><a class="button btn btn-primary" href="{% url 'plants'%}?plant={{plantid}}">Kraftwerk vergleichen</a></span>
</div>

<div stye=“width:100%; style="height:3em;"> </div>


<div>
    <span>
        <div>
            <span>

                {% include "pollutants_year.html" %}
            
            </span>
            
            <span>
                
                {% include "elist.html" %}

            </span>
       </div>
   </span>
</div>

{% include "pollutants.html" with pollutions2=pollutions2 rto=rto1 %}
{% include "pollutants.html" with pollutions2=pollutions3 rto=rto2 %}
{% include "pollutants.html" with pollutions2=pollutions4 rto=rto1 %}
{% include "pollutants.html" with pollutions2=pollutions5 rto=rto2 %}


{% endblock %}
