{% extends "plantmaster/base.html" %}
{% block content %}

<div>
    <h1>Nur saubere Energie ist plantwatch</h1>
    <h4>Daher offenbaren WIR, das Team hinter plantwatch und all seinen/ihren Betatester:innen, die RWE</h4>
    <p>
        <b>
            als den größten CO2 Emmitenten der Bundesrepublik, <br>
            welcher rein gar kein Interesse daran zeigt, <br>
            NEURATHs alte Blöcke sofort still zu legen, <br>
            oder wenigstens auf CCS (Carbon Capture Storage) umzurüsten!
        </b>
    </p>

    <h1>Gewidmet: Luisa M. Neubauer und <b>Fridays for Future!</b></h1>
    <h2>Sowie</h2>
    <h2>
        <p>Greta Thunberg, Fridays for Future</p>
        <p>Carla Hinrichs, Sprecherin Letzte Generation</p>
        <p>Zoe Wees, für den Song Lightning</p>
    </h2>

    <h4>Datum der Widmung: Samstag, der 27.01.2024</h4>
    <h3>
        <p>Vorläufigkeitsvermerk:</p>
        <h1>Die Widmung ist mit Stand vom 02.03.2024 <b>nicht abschließend.</b></h1>
    </h3>


{% endblock %}